*{
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

/* navbar */
#navbar {
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
}

#navbar ul{
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a{
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}

/* Container */
.container{
  min-height: 60vh;
  padding: 2em;
}

.container h1{
  margin-bottom: 1em;
}

.container form{
  max-width: 300px;
}

.form-control{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label{
  font-weight: bold;
  margin-bottom: 0.5em;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #F6982d;
}

form input[type='submit'], .btn{
  background-color: transparent;
  color: #F6982d;
  border: 2px solid #F6982d;
  padding: 0.5em 1.2em;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: .5s;
}

form input[type='submit']:hover, .btn:hover{
  background-color: #F6982d;
  color: #fff;
}

.products{
  display: flex;
  flex-wrap: wrap;
}

.product{
  width: 23%;
  margin: 1%;
  text-align: center;
  margin-bottom: 1em;
}

.product img{
  max-width: 100%;
  height: 300px;
  margin-bottom: 0.5em;
}

.product h3{
  margin-bottom: 1em;
}

.product-page img{
  max-width: 250px;
  margin-bottom: 1em;
}

.product-page p{
  margin-bottom: 1em;
}